<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>TODOアプリ(Golang * gin * gorm)</title>
</head>
<body>
    <h1>TODOアプリ</h1>
<form method="POST" action="/">
    <p>名前 : <input type="text" name="name" value=""> やること : <input type="text" name="content" value=""></p>
    <p>状態
        <select name="status">
            <option value="未実行">未実行</option>
            <option value="実行中">実行中</option>
            <option value="終了">終了</option>
        </select>
    </p>
    <input type="submit" value="SUBMIT">
</form>

<br>

<ul>
    {{ range .todos }}
        <li>
            <form method="POST" action="/delete/{{.ID}}">
              名前: {{.CreatedBy}} やること: {{ .Content }} 状態: {{.Status}}
              <label><button><a href="/{{.ID}}">編集</a></button></label>
              <label><input type="submit" value="削除"></label>
            </form>
        </li>
    {{end}}
</ul>

</body>
</html>